#headerMenuDiv > span:first-child {
  font-weight: normal;
  color: black;
}

#headerMenuDiv > span:nth-child(3) {
  font-weight: bold;
  color: red;
}

.albumDiv {
  display: flex;
  flex-direction: row;
  height: 4%;
  margin: 0px 10px 5px 10px;
}

.albumInfoDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 1rem;
}

.albumInfoDiv > span:first-of-type {
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 530px) {
  .albumDiv {
    display: flex;
    flex-direction: column;
    height: 5%;
    margin: 0px 10px 15px 10px;
  }
}
